* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --clock-length: 700px
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    color: #000;
}
.clock-border {
    padding: 20px;
    background-color: black;

}
.logo {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 160px;
    font-size: 20px;
    font-weight: 300;
}


.clock {
    width: var(--clock-length);
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
li div {
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .5); */
   
}
li {
    list-style: none;
    position: absolute;
    height: 100%;
    transform-origin: center;
    font-size: 50px;
}
li:nth-child(1) {
    rotate: 30deg;
}

li:nth-child(1) div {
    rotate: -30deg;
}

li:nth-child(2) {
    rotate: 60deg;
}

li:nth-child(2) div {
    rotate: -60deg;
}

li:nth-child(3) {
    rotate: 90deg;
}

li:nth-child(3) div {
    rotate: -90deg;
}

li:nth-child(4) {
    rotate: 120deg;
}

li:nth-child(4) div {
    rotate: -120deg;
}

li:nth-child(5) {
    rotate: 150deg;
}

li:nth-child(5) div {
    rotate: -150deg;
}
li:nth-child(6) {
    rotate: 180deg;
}

li:nth-child(6) div {
    rotate: -180deg;
}

li:nth-child(7) {
    rotate: 210deg;
}

li:nth-child(7) div {
    rotate: -210deg;
}

li:nth-child(8) {
    rotate: 240deg;
}

li:nth-child(8) div {
    rotate: -240deg;
}

li:nth-child(9) {
    rotate: 270deg;
}

li:nth-child(9) div {
    rotate: -270deg;
}

li:nth-child(10) {
    rotate: 300deg;
}

li:nth-child(10) div {
    rotate: -300deg;
}

li:nth-child(11) {
    rotate: 330deg;
}

li:nth-child(11) div {
    rotate: -330deg;
}

.hour {
    position: absolute;
    bottom: calc(var(--clock-length) / 2);
    background-color: blue;
    border-radius: 40px;
    transform-origin: bottom;
    width: 12px;
    height: 200px;
    animation: rotate 216000s infinite;
}
.hour::after {
    width: 12px;
    height: 50px;
    display: block;
    position: absolute;
    top: 100%;
    content: '';
    background-color: blue;
}

.minute {
    position: absolute;
    bottom: calc(var(--clock-length) / 2);
    background-color: chartreuse;
    border-radius: 40px;
    transform-origin: bottom;
    width: 12px;
    height: 230px;
    animation: rotate 216000s infinite;
}
.minute::after {
    width: 12px;
    height: 50px;
    display: block;
    position: absolute;
    top: 100%;
    content: '';
    background-color: chartreuse;
}


.second {
    position: absolute;
    bottom: calc(var(--clock-length) / 2);
    background-color: red;
    border-radius: 40px;
    transform-origin: bottom;
    width: 5px;
    height: 260px;
    animation: rotate 60s steps(60, end) infinite;
}
.second::after {
    width: 3px;
    height: 50px;
    display: block;
    position: absolute;
    top: 100%;
    content: '';
}  

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.minute {
}
.second {
}
.dot {
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #000;
    z-index: 10;
}









