doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Krosovka
    body 
        header.header
            a(href="#")
                img(src="", alt="bu yerda rasm bor")
                img(src="", alt="bu yerda rasm bor") 
            nav.nav    
                ol 
                    li 
                        a(href="#") Главная
                    li 
                        a(href="#") Магазин
                    li 
                        a(href="#") Заказазы
                    li 
                        a(href="#") О сервисе
                    li 
                        a(href="#") Помощы                